table {
    width:35%;
  }
 table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
   }
 th, td {
     padding: 5px;
     text-align: left;    
   }
 
 .masde1000 {
     color:red;
 }
 
 .menosde1000 {
     color:black;
 }
 
 #listado-eqquipos-component {
   background-color: aliceblue
 }